colorama==0.4.6
loguru==0.7.2
markdown-it-py==3.0.0
mdurl==0.1.2
pathspec==0.12.1
prompt_toolkit==3.0.47
pydantic==2.8.2
pydantic_core==2.20.1
Pygments==2.18.0
pyperclip==1.9.0
rich==13.7.1
wcwidth==0.2.13
GitPython==3.1.43
